.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(240, 238, 238);
  z-index: 1;
}

.left-section{
  display: flex;
  align-items: center;
}
.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;
  flex-shrink: 0;
}
.hamburger-menu{
  height: 25px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo{
  height: 20px;
}
.search-button, .voice-search-button{
  height: 40px;
  width: 40px;
}
.search-bar{
  width: 0;
  flex: 1;
  border-radius: 2px;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(179, 176, 176);
  box-shadow:inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.search-bar::placeholder{
  font-size: 16px;
}
.search-button{
  width: 66px;
  background-color: rgb(245, 245, 245);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(179, 176, 176);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}
.search-icon{
  width: 25px;
  padding: 4px;
}
.voice-search-button{
  border-radius: 20px;
  border-style: none;
  background-color: rgb(250, 250, 250); 
  position: relative;
}
.voice-search-icon{
  height: 24px;
}
.upload-icon, .youtube-apps-icon, .notifications-icon{
  height: 24px;
}
.current-user{
  height: 32px;
  border-radius: 16px;
}
.notifications-icon-container{
  position: relative;
}
.notifications-count{
  color: white;
  position: absolute;
  background-color: rgb(218, 1, 1);
  font-size: 11px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  border-radius: 10px;
  top: -3px;
  right: -3px;
}

.voice-search-button, .search-button, .upload-icon-container, .youtube-apps-container, .notifications-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.voice-search-button .tooltip,
.search-button .tooltip, .upload-icon-container .tooltip, .youtube-apps-container .tooltip, .notifications-icon-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  border-radius: 2px;
  bottom: -25px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.voice-search-button:hover .tooltip,
.search-button:hover .tooltip, .upload-icon-container:hover .tooltip, .youtube-apps-container:hover .tooltip, .notifications-icon-container:hover .tooltip{
  opacity: 1;
}