@media (max-width: 999px){
  .sidebar-link div{
    font-size: 9px;
    font-weight: 400;
  }
  .sidebar{
    position:fixed;
    width: 72px;
    left: 0;
    bottom: 0;
    top: 55px;
    z-index: 2;
    padding-top: 5px;
    background-color: white;
  }
  .sidebar-link{
    background-color: white;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sidebar-link:hover{
    background-color: lightgray;
    cursor: pointer;
  }
  
  .sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
  }
}
@media (min-width: 1000px){
  .sidebar-link div{
    font-size: 14px;
    font-weight: 400;
  }
  .sidebar{
    padding: 30px;
    position:fixed;
    width: 170px;
    left: 0;
    bottom: 0;
    top: 55px;
    z-index: 2;
    padding-top: 5px;
    background-color: white;
  }
  .sidebar-link{
    background-color: white;
    height: 55px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
  }
  .sidebar-link:hover{
    background-color: lightgray;
    cursor: pointer;
  }
  
  .sidebar-link img{
    height: 26px;
    margin-bottom: 5px;
    margin-right: 20px;
  }
}
