.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap: 15px;
  row-gap: 10px;
  margin-left: 20px;
}
@media (max-width: 750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
  .video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .author{
    color:gray;
    font-size: 12px;
  }
  .stats{ 
    color:gray;
    font-size: 12px;
  
  }
}
@media (min-width: 751px) and (max-width: 999px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .author{
    color:gray;
    font-size: 12px;
  }
  .stats{ 
    color:gray;
    font-size: 12px;
  
  }
  .channel-preview-container{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 0.3px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    color: black;
    padding: 12px;
    width: 150px;
    font-size: 12px;
    border-radius: 2px;
    bottom: -60px;
    right: -125px;
    opacity: 0;
    transition: opacity 0.15s;
    z-index: 1;
  }
  .channel-preview-container img{
    margin-right: 8px;
  }
  .channel-photo-container:hover .channel-preview-container{
    opacity: 1;
  }
}
@media (min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 16px;
    margin-left: 180px;
    margin-right: 50px;
  }
}
@media (min-width: 1000px) {
  .author,
  .stats {
    font-size: 14px;
    color:gray;
  }
}

@media (min-width: 1000px) {
  .video-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 24px;
  }
  .video-grid{
    row-gap: 30px;
    font-size: 14px;
  }
  .channel-preview-container{
    font-size: 14px;
  }
  .channel-preview-container{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 0.3px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    color: black;
    padding: 12px;
    width: 170px;
    font-size: 14px;
    border-radius: 2px;
    bottom: -60px;
    right: -145px;
    opacity: 0;
    transition: opacity 0.15s;
    z-index: 1;
  }
  .channel-preview-container img{
    margin-right: 8px;
  }
  .channel-photo-container:hover .channel-preview-container{
    opacity: 1;
  }
}
.video-preview{
  width: 296px;
  height: 100%;
  display:grid;
  grid-template-rows: 1fr 80px;
  column-gap: 5px;
  row-gap: 10px;
}
.thumbnail{
  width: 100%;
  position: relative;
}
.thumb-photo{
  width: 100%;
  height: 100%;
}
.video-info{
  display: flex;
  margin: 0;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0;
  align-items: start;
  flex: 5;
}


.channel-photo{
  width: 36px;
  border-radius: 50%;
  vertical-align: top;
}
.video-duration{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  padding: 2px;
  border-radius: 2px;
}
a{
  text-decoration: none;
  color: black;
}
.channel-container{
  margin-right: 10px;
  flex: 0.5;
}
.channel-photo-container{
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  display: flex;
}
